<h1>
  Edit ranking #<%= @ranking.id %>
</h1>

<hr>

<!-- Form ranking start -->
<form action="/update_ranking/<%= @ranking.id %>" method="post">
<!-- Form ranking end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :username, @ranking.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for destination_id start -->
  <div class="form-group">
    <label for="destination_id">
      Destination
    </label>

    <!-- Input for destination_id start -->
    <%= select_tag(:destination_id, options_from_collection_for_select(Destination.all, :id, :city, @ranking.destination_id), :class => "form-control") %>
    <!-- Input for destination_id end -->
  </div>
  <!-- Label and input for destination_id end -->

  <!-- Label and input for rankings start -->
  <div class="form-group">
    <label for="rankings">
      Rankings
    </label>

    <!-- Input for rankings start -->
    <input type="text" id="rankings" name="rankings" class="form-control" value="<%= @ranking.rankings %>">
    <!-- Input for rankings end -->
  </div>
  <!-- Label and input for rankings end -->

  <button class="btn btn-block btn-outline-secondary">
    Update ranking
  </button>
</form>

<hr>

<a href="/rankings">
  Go back
</a>
