<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All rankings
    </h1>

    <a href="/rankings/new" class="btn btn-block btn-outline-secondary">
      Add a new ranking
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Destination
        </th>

        <th>
          Rankings
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @rankings.each do |ranking| %>
      <tr>
        <!-- Display ranking.id start -->
        <td>
          <%= ranking.id %>
        </td>
        <!-- Display ranking.id end -->

        <!-- Display ranking.user_id start -->
        <td>
          <% if ranking.user.present? %>
            <a href="/users/<%= ranking.user.id %>">
              <%= ranking.user.username %>
            </a>
          <% end %>
        </td>
        <!-- Display ranking.user_id end -->

        <!-- Display ranking.destination_id start -->
        <td>
          <% if ranking.destination.present? %>
            <a href="/destinations/<%= ranking.destination.id %>">
              <%= ranking.destination.city %>
            </a>
          <% end %>
        </td>
        <!-- Display ranking.destination_id end -->

        <!-- Display ranking.rankings start -->
        <td>
          <%= ranking.rankings %>
        </td>
        <!-- Display ranking.rankings end -->

        <!-- Display ranking.created_at start -->
        <td>
          <%= time_ago_in_words(ranking.created_at) %> ago
        </td>
        <!-- Display ranking.created_at end -->

        <!-- Display ranking.updated_at start -->
        <td>
          <%= time_ago_in_words(ranking.updated_at) %> ago
        </td>
        <!-- Display ranking.updated_at end -->

        <td>
          <a href="/rankings/<%= ranking.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @rankings, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
