<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Ranking #<%= @ranking.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/rankings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link ranking start -->
      <div class="col">
        <% if current_user == @ranking.user %>
          <a href="/rankings/<%= @ranking.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit ranking
          </a>
        <% end %>
      </div>
      <!-- Edit link ranking end -->

      <!-- Delete link ranking start -->
      <div class="col">
        <% if current_user == @ranking.user %>
          <a href="/delete_ranking/<%= @ranking.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete ranking
          </a>
        <% end %>
      </div>
      <!-- Delete link ranking end -->
    </div>

    <dl>
      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @ranking.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Destination
      </dt>
      <!-- Display destination_id start -->
      <dd>
        <%= @ranking.destination_id %>
      </dd>
      <!-- Display destination_id end -->

      <dt>
        Rankings
      </dt>
      <!-- Display rankings start -->
      <dd>
        <%= @ranking.rankings %>
      </dd>
      <!-- Display rankings end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@ranking.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@ranking.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<!-- Show Page Customization end -->
