<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Ranking #<%= @ranking.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/rankings" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @ranking.user %>
          <a href="/rankings/<%= @ranking.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit ranking
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @ranking.user %>
          <a href="/delete_ranking/<%= @ranking.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete ranking
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @ranking.user.present? %>
          <a href="/users/<%= @ranking.user_id %>">
            <%= @ranking.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        Destination
      </dt>
      <dd>
        <% if @ranking.destination.present? %>
          <a href="/destinations/<%= @ranking.destination_id %>">
            <%= @ranking.destination.city %>
          </a>
        <% end %>
      </dd>

      <dt>
        Rankings
      </dt>
      <dd>
        <%= @ranking.rankings %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@ranking.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@ranking.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

