<h1>
  Edit friend group #<%= @friend_group.id %>
</h1>

<hr>

<form action="/update_friend_group/<%= @friend_group.id %>" method="post">

  <div class="form-group">
    <label for="friend_request_id">
      Friend request
    </label>

    <%= select_tag(:friend_request_id, options_from_collection_for_select(FriendRequest.all, :id, :receipient_id, @friend_group.friend_request_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @friend_group.name %>">
  </div>

  <div class="form-group">
    <label for="destination_id">
      Destination
    </label>

    <%= select_tag(:destination_id, options_from_collection_for_select(Destination.all, :id, :city, @friend_group.destination_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update friend group
  </button>
</form>

<hr>

<a href="/friend_groups">
  Go back
</a>
