<h1>
  Edit friend group #<%= @friend_group.id %>
</h1>

<hr>

<!-- Form friend_group start -->
<form action="/update_friend_group/<%= @friend_group.id %>" method="post">
<!-- Form friend_group end -->

  <!-- Label and input for friend_request_id start -->
  <div class="form-group">
    <label for="friend_request_id">
      Friend request
    </label>

    <!-- Input for friend_request_id start -->
    <input type="text" id="friend_request_id" name="friend_request_id" class="form-control" value="<%= @friend_group.friend_request_id %>">
    <!-- Input for friend_request_id end -->
  </div>
  <!-- Label and input for friend_request_id end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @friend_group.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for destination_id start -->
  <div class="form-group">
    <label for="destination_id">
      Destination
    </label>

    <!-- Input for destination_id start -->
    <input type="text" id="destination_id" name="destination_id" class="form-control" value="<%= @friend_group.destination_id %>">
    <!-- Input for destination_id end -->
  </div>
  <!-- Label and input for destination_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update friend group
  </button>
</form>

<hr>

<a href="/friend_groups">
  Go back
</a>
